<div id = "cabecalho">
    <h1 class = "titulo-pagina">{{title}}</h1>
</div>


<div class="linkscontainer">
    <a class="links" href="/">Home</a>
    <a class="links" href="/about">About</a>
    <a class="links" href="/help">Help</a>
    {{!-- <a class="links" href="/cotacoes">Cotações</a> --}}
</div>